<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>"Customer"</title>
</head>
<body>
<h1 text="#{label.form.title}">Customer</h1>
<form action="/" object="${customerDto}" method="POST" enctype="utf8">
    <table  border="1">

        <label text="#{label.user.name}">name : </label>
        <input field="*{name}"></p>
        <!--   <p th:each="error: ${#fields.errors('name')}"
              th:text="${error}">Validation error</p> -->


        <label text="#{label.user.surname}">surname : </label>
        <input field="*{surname}"></p>
        <!--   <p th:each="error : ${#fields.errors('subname')}"
              th:text="${error}">Validation error</p> -->


        <label text="#{label.user.email}">email : </label>
        <input field="*{email}"></p>
        <!-- <p each="error : ${#fields.errors('email')}"
           text="${error}"> Validation error</p> -->


        <!--<label text="#{label.user.login}">login : </label>
        <input field="*{login}"></p>

        <label text="#{label.user.login}">login : </label>
        <input field="*{login}"></p>
         <input type="login" field="*{matchingLogin}"></p>
         <p each="error : ${#fields.errors('login')}"
           text="${error}">Validation error</p> -->

        <button type="submit" text="#{submit}">submit</button>
    </table>
</form>
</body>
</html>